.article-Details img{
	width: 100%;
}
.article-Details .article-title{
	padding: 30px 10px;
}
.article-Details .article-title h4 a{
	color: #000000;
}
.article-Details .article-title p{
	font-size: 13px;
	color: #CCCCCC;
}
.article-Details .article-content{
	font-size: 13px;
	color: #7e7e7e;
	padding: 0px 10px;
}
