body,
html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
ul{
	list-style: none;
}
/**
 * 每一个页面占满整屏
 */
.page {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	width: 100%;
	flex-flow: column nowrap;
}

.page .navbar {
	flex: 0 0 50px;
	line-height: 50px;
	width: 100%;
	background-color: #04a7b0;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row nowrap;
}

.page .content {
	flex: 1 1 90%;
	overflow-y: scroll;
	overflow-x: hidden;

}
.page .toolbar {
	flex: 0 0 49px;
	width: 100%;
	border-top: 1px solid #04a7b0;
	overflow: hidden;
}

/**
 * 行
 */

.row {
	width: 100%;
}

.row:after,
.row:before {
	content: ' ';
	display: table;
	clear: both;
}

/**
 * 底部导航样式
 */

.page .toolbar .weui_navbar {
	position: static;
	color: #04A7B0;
}

.page .toolbar .weui_navbar img {
	width: 20px;
	vertical-align: top;
}
.page .toolbar .weui_navbar{
	color:#04a7b0;
}
.page .toolbar .weui_navbar a{
	color:#04a7b0;
}
.page .toolbar .weui_bar_item_on{
	background-color: #04a7b0;
	color: #FFFFFF;
}
.page .toolbar .weui_bar_item_on a{
	color: white;
}
/**
 * 头部导航样式
 */

.page .navbar .head {
	flex: 1 1 30%;
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	color: white;
}

.page .navbar .body {
	flex: 1 1 40%;
	text-align: center;
	color: white;
	font-size: 18px;
}

.page .navbar .footer {
	flex: 1 1 30%;
	text-align: right;
}

.page .navbar .footer a {
	display: inline-block;
	line-height: 50px;
	color: white;
	width: 50px;
	text-align: center;
}

.page .navbar a:active {
	background-color: #02666b;
}

/**
 * 左箭头
 */

.icon-left {
	display: inline-block;
	margin: 0px 10px;
	width: 10px;
	height: 10px;
	border-top: 3px solid white;
	border-left: 3px solid white;
	transform: rotate(-45deg);
}


/**
 * toast弹框调整 
 */
.weui_toast {
	width: 14em;
	min-height: 1em;
	margin-left: -7em;
	padding: 20px 0px;
}

/**
 * 轮播图片都为100%
 */
.swiper-container img {
	width: 100%;
	display: block;
}

/**
 * 查询条
 */
.search_show {
	display: none;
	margin-top: 0px;
	font-size: 14px;
}

/*钱*/
.money{
	font: 13px/1.5 "Arial", "sans-serif", "微软雅黑", "宋体", "Tahoma";
}

/*会员中心子页面的背景*/
.background{
	background: #efefef;
}

/*会员中心子页面微信支付*/
.method{
	height: 45px;
	width: 95%;
	margin: 0 auto;
	background: #04a7b0;
	margin-top: 10px;
	text-align: center;
	line-height: 45px;
	margin-bottom: 10px;
}
.method a{
	color: #FFFFFF;
}

/*确定订单的地址和收货地址的管理的部分*/
.address-a{
	background: #FFFFFF;
	margin:10px 0px;
	padding: 10px 0px 10px 5px;
	color: #666666;
	
}
.address-a,.addressname{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1 1 auto;
}
.address-a .address-left{
	flex: 1 1 80%;
}
.address-a .address-right{
	flex: 1 1 10%;
	padding-top: 20px;
	text-align: center;
}
.addressname h4{
	padding-right:20px;
}
.address-a .addressname p{
	font-size: 15px;
}

/*会员中心子页面的订单页脚*/
.firmorder .firm-footer{
	border-top:none
}
.firmorder .firm-footer .weui_navbar a{
	color:#ff771b;
}

.firmorder .firm-footer .weui_bar_item_on{
	background-color: #ff771b;
}
.firmorder .firm-footer .weui_bar_item_on a{
	color: #FFFFFF;
}


/*会员中心子页面的订单商品信息*/
.order-b{
	background: #FFFFFF;
	padding-top: 20px;
}
.order-bb{
	width: 90%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1 1 auto;
	padding-bottom: 8px;
}
.order-img {
	width:20%;
}
.order-img img{
	width: 60px;
}
.order-center{
	width: 60%;
	font-size: 16px;
	color: #666666;
	padding-left: 10px;
}
.order-bttom{
	width: 20%;
	text-align: right;
	color: #666666;
	line-height:30px;
}
.order-bttom .firmmoney{
	font-size: 16px;
	color: #ff771b;
}

/*定制协议*/
.Customprotocol-title{
	background: #04a7b0;
	color: #FFFFFF;
}
.Customprotocol-content {
	color:#666666;
	border-bottom:1px solid #04a7b0 ;
	padding-bottom: 20px;
}
.Customprotocol-content h4{
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	
}
.Customprotocol-content ol li{
	margin-left: 15px;
}
.Customprotocol-footer{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1 1 auto;
	padding: 10px;
}
.Customprotocol-footer a{
	flex: 1 1 50%;
	display: block;
	width:60px;
	border-radius:5%;
	border:1px solid #04a7b0 ;
	margin: 0px 20px;
	text-align: center;
}
.Custom-footer-a{
	color: #04a7b0;
}
.Custom-footer-on{
	background: #04a7b0;
	color: white;
}