.design > .content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	flex-flow: row nowrap;
}
.design > .content > .left {
	flex: 1 1 auto;
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}
.design > .content > .right {
	flex: 0 0 50px;
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.design > .content > .right > .item {
    width: 100%;
    height: 50px;
    font-size: 12px;
	text-align: center;    
}

.design > .content > .right > .item > img {
    width: 20px;
}

.polymos {
	width: 214px;
	height: 450px;
    background: url(../img/design/bg.png) center center no-repeat;
}

.radius-top-left {
	border-top-left-radius: 20px;
}
.radius-top-right {
	border-top-right-radius: 20px;
}
.radius-bottom-left {
	border-bottom-left-radius: 20px;
}
.radius-bottom-right {
	border-bottom-right-radius: 20px;
}

/**
 * 选图列表
 */
.imgset {
	list-style: none;
    display: flex;
    height: 50vh;
    flex-flow: row wrap;
    overflow-y: scroll;
}
.imgset li {
    flex: 0 0 45%;
    border: 1px solid #e6e6e6;
    margin: 5px;
}
.imgset li img{
	width: 100%;
}

/**
 * 滑块样式
 */
.zoom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    flex-flow: row nowrap;
    background-color: transparent;
    
	width: 100%;height: 60px;
	justify-content: center;
	align-items: center;
}
.zoom .dragdealer {
	flex: 0 0 95%;
    height: 10px;
    border-radius: 10px;
    position : relative;
    background-color: #FFFFFF;
    box-shadow : 2px 2px 20px #04a7b0;
}
.zoom .dragdealer .blue-bar {
	text-align: center;
    height: 40px;
    line-height: 40px;
    background : #04a7b0;
    width: 40px;
    border-radius: 50%;
    margin-top: -15px;
    position: absolute;
    color: #FFFFFF;
    box-shadow: 0 0 3px;
}

.preview > .content{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	background: url(../img/design/bg.png) center center no-repeat;
	justify-content: center;
	align-items: center;
}


.weui_navbar_item.weui_bar_item_on {
	background-color: transparent;
	border-bottom: 1px solid #04a7b0;
}

.weui_progress {
	position: fixed;
	top: 180px;
	padding: 20px;
	width: 90%;
	z-index: 3;
	text-align: center;
	color: #FFFFFF;
}

.weui_progress .weui_progress_bar {
	height: 25px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

.weui_progress .js_progress {
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
