/*定制产品*/
.makenav .footer{
	position: relative;
}
.makenav .footer .span-shopcar{
	display: block;
	width:12px;
	height: 12px;
	border-radius: 50%;
	background: #F43530;
	color: #FFFFFF;
	position: absolute;
	top:5px;
	right:14px;
	font-size: 8px;
}
.span-1{
	display: block;
	color: #FFFFFF;
	font-size: 7px;
	position: absolute;
	top: -14px;
	right:17px;
	z-index: 99;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ff8e0f;
}
 .make-bananr img{
	width: 100%;
	display: block;
}
.make-top{
	height: 8px;
	background: #f3f3f3;
}
.make-p{
	padding-top: 15px;
	padding-left: 10px;
	height: 105px;
}
.make-p p{
	padding-right: 15px;
	font-size: 14px;
}
.make-p .make-span{
	font: 16px/1.5 "Arial", "sans-serif", "微软雅黑", "宋体", "Tahoma";
	color: #eb7430;
}
.make-p p span{
	color: #959595;
	padding-right: 15px;
}
.make-color{
	height: 86px;
	padding-left: 10px;
}
.make-color p{
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 10px;
}
.make-color p span{
	padding: 8px;
	border: 1px solid #b8b8b8;
	margin-right: 10px;
	border-radius:10% ;
}
.make-color p span a{
	color:#b8b8b8;
}
.make-color p span a:hover{
	color: #9dd3d7;
}
.make-color p span:hover{
	border: 2px solid #9dd3d7;
}

.make-border{
	height: 5px;
	background: #f3f3f3;
}
.make-number{
	display: flex;
	height: 60px;
	flex:1;
	line-height: 60px;
	padding-left: 10px;
}
.make-number .number-left{
	order: -1;
	width: 60%;
}
.make-number .make-button{
	width:40%;
	padding-top: 15px;
	padding-right: 10px;
	display: flex;
	flex: 1;
}
.make-number .make-button a {
	display: block;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-size: 16px;
	color: #000;
	float: right;
}
.make-number .make-button #number{
	width: 30px;
	height: 29px;
	border: none;
	text-align: center;
	border-bottom: 1px solid #E6E6E6;
	
}
.make-number .make-button a:active {
	background-color: #04a7b0;
}

.make-number .make-button a:nth-child(odd) {
	border: 1px solid #e6e6e6;
}

.make-number .make-button a:nth-child(even) {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.weui_navbar_item {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
    -webkit-tap-highlight-color: #ffffff;
}
.weui_navbar_item:hover{
	color: #30b4b9;
}
.introduce{
	background: #f3f3f3;
	padding: 10px 0px;
}
.introduce img{
	width: 100%;
}

.parameter-list{
	display: flex;
	flex: 1 1 auto;
	height: 60px;
	line-height: 60px;
	padding-left: 10px;
	border-bottom: 1px solid #CCCCCC;
}
.parameter-list:last-child{
	margin-bottom: 15px;
}
.parameter-list p{
	padding-right: 15px;
}
.parameter-list span{
	color: #CCCCCC;
}



.comment-list{
	width: 100%;
	height: 170px;
	border-bottom: 1px solid #CCCCCC;
}
.comment-list:last-child{
	margin-bottom: 15px;
}
.comment-aa{
	display: flex;
	flex: 1 1 auto;
	padding-top: 20px;
}
.comment-zi {
 flex: 1 1 auto;
 padding-top: 10px;
}

.comment-img, .comment-xing {
 flex: 1 1 auto;
 text-align: center;
 
}
.comment-xing{
	padding-top: 10px;
}
.comment-img {
  /* 导航放到最左边 */
  order: -1;
  padding-left: 10px;
}
.comment-aa:last-child{
	margin-bottom: 30px;
}
.comment-list p{
	padding-left: 10px;
	padding-top: 10px;
}
.comment-list .comment-p{
	text-align: right;
	color: #CCCCCC;
	padding-right: 10px;
	font-size: 13px;
}
