.problem{
	background: #f3f3f1;
}
.problem-bananr{
	height: 90px;
	text-align: center;
}
.problem-bananr p{
	font-size: 20px;
	background: url(../img/juxing.png);
	background-size: 70% 60%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	padding-top:40px;
	padding-bottom: 10px;
	color: #FFFFFF;
}
.problem1{
	margin: 10px 0px;
}
.problem1 .problem1-aa{
	width: 90%;
	margin: 0 auto;
	background: #04a7b0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	padding: 10px 4px;
}
.problem1 .problem1-bb{
	width: 90%;
	margin: 0 auto;
	background: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
}
.problem-footer{
	text-align: center;
	padding-bottom: 20px;
	color: #999999;
}
.problem-footer img{
	padding-top: 10px;
}
