/*选择产品的banan图片*/
.Selectproduct{
	width: 100%;
}
.Selectproduct .banner img{
	width: 100%;
}
.Selectproduct .banner-a{
	background: #ff8e0f;
	padding: 15px 0px;
	font-size: 18px;
	color: #FFFFFF;
}
.Selectproduct .banner-b{
	background: #FFFFFF;
	padding-top: 10px;
}
.Selectproduct .banner-b .banner-img{
	width: 7%;
	margin: 0px auto;
}
.Selectproduct .banner-b .banner-img img{
	width: 100%;
}
/*选择产品的内容*/
.Selectproduct-connent{
	background: #FFFFFF;
}

/*产品的左右切换按钮*/

.focus-img{
	position: relative;
	width: 1170px;
	height: 380px;
	margin: 0px auto;
	background-color: #fff;
}
.focus-img a{
	text-decoration: none;
}

.focus-img-con{
	position: relative;
	width: 1070px;
	height: 380px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
}

.focus-img-con ul{
	position: absolute;
	top: 0;
}
.focus-img-con ul li{
	display: block;
	width: 306px;
	height: 380px;
	float: left;
	background: #FFFFFF;
	margin: 0px 25px;
	text-align: center;
}
.focus-img-con ul li:first-child{
	margin-left: -10px;
}
.focus-img-con ul li .img-ccun{
	width: 298px;
	height: 214px;
    border: 2px solid transparent;
	margin: 30px auto;
	overflow: hidden;
}
.focus-img-con ul li .img-ccun:hover{
	border: 2px solid #04A7B0;
}
.focus-img-con ul li  .img-ccun img {
	width: 100%;
}
.focus-img-con ul li dl {
	margin-top: -10px;
}
.focus-img-con ul li a{
	text-decoration: none;
}
.focus-img-con ul li dl dt{
	font-size: 18px;
	color: #000000;
}
.focus-img-con ul li dl dt:hover{
	color: #f00;
}
.focus-img-con ul li dl .xian{
	height:1px;
	width:30px;
	background: #ff8e0f;
	margin: 0 auto;
	display: inline-block;
}
.focus-img-con ul li dd {
	padding-top: 5px;
	color: #999999;
}

.focus-img-con ul li dd:hover{
	color: #f00;
}
.focus-img .change-bnt{
	width: 50px;
	height: 80px;
	font-size: 50px;
	line-height: 50px;
	color: #01a5b9;
	position: absolute;
	top: 50%;
	margin-top: -25px;
}
.focus-img .change-bnt.prev-bnt{
	left: 10px;
}
.focus-img .change-bnt.next-bnt{
	right:-10px;
}



/*展示产品的信息*/
.product-content{
	background: #e5e5e5;
}
.product-content .product-a{
	width: 1170px;
	margin: 30px auto;
}
.product-content .product-aa{
	margin-bottom: 30px;
}
.product-content .product-aa,.product-content .left-title,.product-content .product-bb,.product-content .right-title{
	overflow: hidden;
}
.product-content .left-title{
	width: 250px;
}

.product-content .product-aa .product-left{
	float: left;
	overflow: hidden;
	width: 400px;
}
.product-content .product-aa .product-left .left-left{
	float: left;
	position: relative;
}
.product-content .dingwei{
	position: absolute;
	top: 25%;
	left: 25%;
	font-size: 17px;
	color: #FFFFFF;
}
.product-content .product-aa .product-left .left-right{
	font-size: 18px;
	padding-top: 12px;
	margin-left: 50px;
    padding-bottom: 5px;
	border-bottom: 1px solid #666;
	padding-left: 20px;
	color: #FF8E0F;
}

.product-content .product-aa .left-content{
	width: 200px;
	margin-left: 50px;
	font-size: 16px;
	margin-top: 50px;
}
.product-content .product-aa .product-right,.product-content .product-bb .product-left{
	width:770px;
	background-size:100% 100%;
	padding: 30px 0px;
}
.product-content .product-aa .product-right{
	float: right;
	background: url(../img/Selectproduct/juxing2.png) center no-repeat;
	margin-right: -50px;
}
.product-content .product-aa .right-content{
	border: 2px solid #FFFFFF;
	width: 300px;
	margin-left: 360px;
	text-align: center;
	padding: 15px 0px;
	margin-top: -8px;
}

.product-content .product-bb .product-left{
	float: left;
	background: url(../img/Selectproduct/12.png) center no-repeat;
	margin-left: -43px;
}
.product-content .product-bb .left-content{
	border: 2px solid #FFFFFF;
	width: 300px;
	padding: 15px 0px;
	text-align: center;
	margin-left: 100px;
}
.product-content .product-bb .product-right{
	float: right;
	overflow: hidden;
	width: 400px;
}
.product-content .product-bb .product-right .right-title{
	width: 250px;
	margin-left: 170px;
}
.product-content .product-bb .product-right .right-left{
	float: left;
	font-size: 18px;
	padding-top: 12px;
    padding-bottom: 5px;
	color: #FF8E0F;
	border-bottom:1px solid #666 ;
	width: 180px;
	*width: 160px;
	text-align: right;
	padding-right: 20px;
}
.product-content .product-bb .product-right .right-right{
	float: right;
	position: relative;
}

.product-content .right-content{
	width: 200px;
	margin-top: 50px;
	font-size: 16px;
	margin-left: 170px;
}
.product-content .duobian{
	width: 50px;
}
.product-content .product-bb .duobian{
	margin-right: 20px;
}
.product-content .duobian img{
	width: 100%;
}
/*底下的图案*/
.product-footer{
    background: #fbf9fa;
}
.product-footera{
	width: 1170px;
	margin:0px auto;
}
.Designer{
	color: #04a7b0;
	font-size: 31px;
	font-weight: bold;
	padding: 50px 0px;
	width: 1170px;
}
.desingners{
	width: 800px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.product-footer img{
	width: 100%;
}
