@font-face {font-family:'悦变';src:url("211.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'毛笔行书';src:url("202.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'古韵';src:url("203.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'行楷';src:url("204.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'硬笔行书';src:url("205.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'几何体';src:url("206.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'丛台体';src:url("207.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'炫丽体';src:url("212.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'刀锋黑草';src:url("209.ttf");font-weight:normal;font-style:normal}

@font-face {font-family:'萝卜体';src:url("210.ttf");font-weight:normal;font-style:normal}