/*第一个模块*/
.firmorder-a p{
	font-size: 13px;
}
.firmorder-a .firmorder-title h4,.firmorder-a .firmorder-title p{
	color: #666666;
	font-size: 16px;
}
/*第二个模块*/
.frimorder-bb{
	border-bottom:1px solid #CCCCCC ;
}
.frimorder-b input{
	width: 90%;
	margin: 10px auto;
	display: block;
	height: 40px;
	background: #efefef;
	border: none;
	font-size: 14px;
}
/*第三个模块*/
.firmorder-c {
	background: #FFFFFF;
	margin: 10px 0px;
	padding: 10px 30px;
	color: #666666;
}

/*第四个模块*/
.firmorder-d .weui_cells{
	margin-top: 0px;
}
.weui_cells_checkbox .weui_check:checked+.weui_icon_checked:before {
    content: '\EA06';
    color: #ef0000;
}
.firmorder-d p{
	color: #666666;
}
/*第五个模块*/
.firmorder-e{
	margin-top: 50px;
	background: #ffdec8;
	padding: 8px 0px 8px 10px;
	font-size: 14px;
	color: #dc6412;
	
}
