/*我的订单的导航条*/
.myorder-nav{
	background: #FFFFFF;
	margin: 10px 0px;
}
.myorder-nav ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	-webkit-box-flex: 1 1 auto;
}
.myorder-nav ul li{
	flex: 1 1 20%;
	text-align: center;
	padding: 10px 0px;
}
.myorder-nav ul li a{
	color: #666666;
}
.myorde-rnav-li{
	border-bottom: 2px solid #ff771b;
}
.myorder-nav ul .myorde-rnav-li a{
	color:#ff771b;
}

/*商品列表开始*/

/*商品列表上面部分*/
.myorder-row{
	margin-top: -5px;
}
.myorder-content{
	background: #FFFFFF;
	margin: 10px 0px;
}

.order-content-a,.myorder-content ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1 1 auto;
}
.order-content-a{
	padding: 10px 5px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 15px;
}
.order-content-a .myorder-a-left{
	width: 80%;
	color: #666666;
}
.order-content-a .myorder-a-right{
	width: 20%;
	text-align: center;
	color: #ff771b;
}

/*商品列表下面部分*/
.myorder-content ul{
	padding: 10px 10px 6px 10px;
	color: #666666;
	border-bottom: 1px solid #CCCCCC;
}
.myorder-content ul li:nth-child(1){
	width: 22%;
}
.myorder-content ul li:nth-child(1) img{
	width: 100%;
}
.myorder-content ul li:nth-child(2){
	width: 45%;
	text-align:left;
}
.myorder-content ul li:nth-child(2) h4{
	padding-bottom: 8px;
	padding-left: 10px;
	font-size: 15px;
}
.myorder-content ul li:nth-child(3){
	width: 30%;
	text-align: right;
}
.myorder-content ul li:nth-child(3) p{
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 3px;
}
.ordergood-dd {
	padding: 10px;
}
.ordergood-dd p{
	font-size: 14px;
	text-align: right;
	padding-bottom: 8px;
}
.ordergood-dd p .span-color{
	color: #ff771b;
}
.myorder-content .ordergood-dd .ordergood-ddd{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 70%;
	text-align: left;
	padding-left: 32%;
}
.ordergood-dd .ordergood-ddd a{
	display: block;
	flex: 1 1 50%;
	border: 1px solid #CCCCCC;
	text-align: center;
	margin: 0px 10px;
	padding: 2px;
	color: #666666;
}
.ordergood-dd .ordergood-ddd .payment{
	background: #ff771b;
	border: 1px solid #ff771b;
	color: #FFFFFF;
}
