

ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1 1 auto;
	-webkit-flex:1 1 auto;
	-webkit-box-flex: 1 1 auto;
}
/*我的团队的导航条*/
.myteam-nav ul{
	width: 85%;
	margin: 0px auto;
	margin-top: 12px;
	margin-bottom: 8px;
}
.myteam-nav ul li{
	-webkit-flex: 1 1 50%;
	-webkit-box-flex: 1 1 50%;
	flex: 1 1 50%;
	text-align: center;
	padding: 8px;
	background: #FFFFFF;
}
.myteam-nav ul li:nth-child(1){
    border-radius:25px 0px 0px 25px;
   -moz-border-radius:25px 0px 0px 25px; /* Old Firefox */
}
.myteam-nav  ul li:last-child{
	border-radius:0px 25px 25px 0px ;
	 -moz-border-radius:0px 25px 25px 0px ; /* Old Firefox */
}
.myteam-nav ul .myteam-on{
	background:#ff771b;
}
.myteam-nav ul .myteam-on a{
	color: #FFFFFF;
}
.myteam-nav ul li a{
	color: #ff771b;
}



/*我的团队内容*/
.myteamlist{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #666666;
}
.myteamlist ul{
	background: #FFFFFF;
	padding: 10px 10px 8px 10px;
	border-bottom: 1px solid #CCCCCC;
}
.myteamlist ul:first-child{
	font-size: 18px;
	text-align: center;
	color: #666666;
}
.myteamlist ul li:nth-child(1){
	-webkit-flex:  1 1 15%;
	-webkit-box-flex:  1 1 15%;
	flex: 1 1 15%;
}
.myteamlist ul li:nth-child(1) img{
	width: 100%;
}
.myteamlist ul li:nth-child(2){
	-webkit-flex:  1 1 55%;
	-webkit-box-flex: 1 1 55%;
	flex: 1 1 55%;
	padding-left: 15px;
	text-align: center;
}
.myteamlist ul li:nth-child(2) p{
	font-size: 15px;
}
.myteamlist ul li:nth-child(3){
	-webkit-flex:  1 1 30%;
	-webkit-box-flex: 1 1 30%;
	flex: 1 1 30%;
	padding-left: 20px;
	font-size: 14px;
}
.myteamlist ul:last-child{
	border-bottom: none;
}